/* Width */
::-webkit-scrollbar {
    width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Track color */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    /* Handle color */
    border-radius: 3px;
    /* Rounded corners */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Darker handle color on hover */
}

/* Hide horizontal scrollbar */
html,
body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

/* Style vertical scrollbar */
::-webkit-scrollbar {
    width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Track color */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    /* Handle color */
    border-radius: 3px;
    /* Rounded corners */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Darker handle color on hover */
}

html {
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: "Syne", sans-serif;
}

:root{
    --bg-color: #121152;
    --second-bg-color: #22215d;
    --text-color: #ffffff;
    --main-color: #8862b6;
    --other-color: #9e9ca8;
    --alt-color: #4b4b51;
    --ann-color: #c7c6d3;

    --h1-font: 5rem;
    --h2-font: 3.8rem;
    --p-font: 1.1rem;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

header{
    position: fixed;
    top:0;
    right:0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .6s ease;
}

.logo img{
    max-width: 100px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding-top:10px;
    padding-left: 20px;
}

.menulist a{
    display: inline-block;
    font-size: 20px;
    font-weight: 300;
    color: var(--other-color);
    margin: 10px 30px;
    transition: all .6s ease;
}

.menulist a:hover{
    color: var(--text-color);
}

.menulist a.active {
    color: var(--text-color);
}

.menu-right{
    display: flex;
    align-items: center;
}

.menu-btn{
    display: inline-block;
    padding: 10px 35px;
    background: linear-gradient(115deg, #e1bac5 0%, var(--main-color) 100%);
    color: var(--bg-color);
    font-size: 18px;
    font-weight: 500;
    border-radius: 20px;
}

.menu-brn:hover{
    background: linear-gradient(135deg, var(--main-color)0%, #e1bac5 100%);
}

#menu-icon{
    z-index: 10001;
    font-size: 40px;
    margin-left: 25px;
    cursor: pointer;
    display: none;
}

section{
    padding: 0px 9% 90px;
}

.home{
    height: 100vh;
    width: 100%;
    background: url(img/background.png);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 20px;
    margin-bottom: 30px;
    
}

.home-text{
    padding-top: 80px;
}

.h-line{
    display: inline-block;
    padding: 10px 14px;
    background: transparent;
    border: 1px solid ;
    font-size: var(--p-font);
    font-weight: 500;
    color: var(--ann-color);
    border-radius: 1.7rem;
    transition: all .6s ease;
}

.h-line:hover{
    color: var(--text-color);
}

.home-text h1{
    margin: 20px 0;
    font-size: var(--h1-font);
}

.home-text h1 span {
    background: -webkit-linear-gradient(135deg, #e1bac5 0%, var(--main-color) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* .home-text h4{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 30px;
} */

.social-icons a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    background: transparent;
    border: 1px solid var(--alt-color);
    border-radius:  1.7rem;
    color: var(--ann-color);
    font-size: 18px;
    margin-right: 12px;
    margin-bottom: 35px;
    transition: all .6s ease;
}

.social-icons a:hover{
    transform: scale(1.06) rotate3d(0, 0, 1, 360deg);
    color: var(--text-color);
}

.h-btn{
    display: flex;
    align-items: center;
}

.btn1{
    display: inline-block;
    padding: 18px 35px;
    background: transparent;
    border: 1px solid var(--alt-color);
    color: var(--text-color);
    font-size: 18px;
    font-weight: 500;
    border-radius: 17px;
    margin-right: 20px;
    transition: all .7s ease;
}

.btn1:hover{
    letter-spacing: 2px;
}

.btn2{
    display: inline-block;
    padding: 18px 35px;
    background: linear-gradient(135deg,
        #e1bac5 0%,
        var(--main-color) 100%);
    color: var(--bg-color);
    font-size: 18px;
    font-weight: 500;
    border-radius: 17px;
    transition: all .7s ease;
}

.btn2:hover{
    transform: scale(1.07);
}

header.sticky{
    padding: 5px 14%;
    background: transparent;
    backdrop-filter: blur(25px);
}

/* about */

.about {
    padding-top: 40px;
    background: var(--second-bg-color);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1rem;
}

.about-img {
    display: grid;
    grid-template-rows: repeat(2, minmax(80px, 1fr));
    gap: 1rem;
    padding-left: 20px;
}

.about-box1 {
    display: flex;
    align-items: center;
    padding: 40px;
    margin-right: 30px;
    margin-bottom: 10px;
    background: linear-gradient(160deg, var(--main-color) 0%, var(--second-bg-color) 100%);
    border-radius: 3rem;
    border-image: linear-gradient(135deg, #e1bac5 0%, var(--main-color) 100%);
    border-image-slice: 1;
    transition: all 0.7s ease;
    cursor: pointer;
}

.about-box2 {
    display: flex;
    align-items: center;
    padding: 40px;
    margin-left: 60px;
    background: linear-gradient(300deg, var(--main-color) 0%, #e1bac5 100%);
    border-radius: 3rem;
    border-image: linear-gradient(135deg, #e1bac5 0%, var(--main-color) 100%);
    border-image-slice: 1;
    transition: all 0.7s ease;
    cursor: pointer;
}


.box-icon{
    padding-right: 20px;
}

.box-icon i {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    background: linear-gradient(135deg, #e1bac5 0%, var(--main-color) 100%);
    color: var(--bg-color);
    border-radius: 1.7rem;
    font-size: 22px;
    transition: all 0.6s ease;
    position: relative;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

.box-icon i:hover {
    transform: scale(1.1);
    box-shadow: 0 0 12px rgba(255, 255, 255, 1), 0 0 30px rgba(87, 74, 163, 0.8);
}

.box-text h5 {
    font-size: 20px;
    margin-bottom: 8px;
}

.box-text p {
    font-size: var(--p-font);
    font-weight: 500;
    line-height: 1.6;
    color: var(--ann-color);
}

.box:hover {
    transform: translateY(-7px);
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(135deg, var(--main-color) 0%, #e1bac5 100%);
    border-image-slice: 1;
}
.about-text h2 {
    margin: 22px 0;
    font-size: var(--h2-font);
}

.about-text h2 span {
    background: -webkit-linear-gradient(135deg, #e1bac5 0%, var(--main-color) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-text h5 {
    font-size: 22px;
    font-weight: 500;
    line-height: 1.7;
    margin-bottom: 30px;
}

.about-text p {
    font-size: var(--p-font);
    font-weight: 500;
    line-height: 33px;
    color: var(--ann-color);
    margin-bottom: 35px;
}
/* services */

.services {
    padding-top: 40px;
    background: var(--bg-color);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
}

.services-left {
    padding: 20px;
}

.services-right {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    gap: 2rem;
}

.box {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background: var(--second-bg-color);
    border-radius: 0.5rem;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(135deg, #e1bac5 0%, var(--main-color) 100%);
    border-image-slice: 1;
    transition: all 0.7s ease;
    cursor: pointer;
}

.box-icon i {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    background: linear-gradient(135deg, #e1bac5 0%, var(--main-color) 100%);
    color: var(--bg-color);
    border-radius: 1.7rem;
    font-size: 22px;
    transition: all 0.6s ease;
    position: relative;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

.box-icon i:hover {
    transform: scale(1.1);
    box-shadow: 0 0 12px rgba(255, 255, 255, 1), 0 0 30px rgba(87, 74, 163, 0.8);
}

.box-text h5 {
    font-size: 20px;
    margin-bottom: 8px;
}

.box-text p {
    font-size: var(--p-font);
    font-weight: 500;
    line-height: 1.6;
    color: var(--ann-color);
}

.box:hover {
    transform: translateY(-7px);
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(135deg, var(--main-color) 0%, #e1bac5 100%);
    border-image-slice: 1;
}


/* languages */
.languages {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background: transparent;
    margin-top: -120px;
}

/* .lang-text h2 {
    margin-top: 22px;
    margin-bottom: 30%;
    font-size: var(--h2-font);
} */


.languages-img img {
    max-width: 100%;
    height: auto;
    border-radius: 0.5rem;
    margin-top: 28%;
    align-items: center;
}


/* portfolio */

.portfolio {
    background: var(--second-bg-color);
    padding: 8rem 3rem;
}

.mid-text h2 {
    margin-top: 22px;
    margin-bottom: 25px;
    font-size: var(--h2-font);
}

.mid-text h2 span {
    background: -webkit-linear-gradient(135deg, #e1bac5 0%, var(--main-color) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* Adjust minmax values to fit your design */
    gap: 2rem;
    margin-top: 3rem;
}

.row {
    background: var(--bg-color);
    border-radius: 1.7rem;
    overflow: hidden;
    transition: all 0.7s ease;
    position: relative;
    height: 400px;
    /* Adjust the height as needed */
}

.row-img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.7s;
    cursor: pointer;
}

.row-in {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 10px;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    background: var(--bg-color);
    /* Semi-transparent background */
}

.row-left h3 {
    font-size: 20px;
    /* Adjusted font size */
    margin-bottom: 8px;
}

.row-left h6 {
    font-size: 14px;
    color: var(--ann-color);
}

.row-right a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    background:linear-gradient(135deg, #e1bac5 0%, var(--main-color) 100%);
    /* Transparent background */
    color: var(--bg-color);
    /* Initial text color */
    border-radius: 1.7rem;
    font-size: 22px;
    border: 2px solid var(--main-color);
    /* Initial border color */
    transition: all 0.4s ease;
    position: relative;
    overflow: hidden;
}

.row-right a:hover {
    transform: scale(1.1);
    background: transparent;
    color: var(--ann-color);
}

/* .row-right a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid;
    border-radius: 1.7rem;
    border-image: linear-gradient(135deg, #e1bac5 0%, var(--main-color) 100%);
    border-image-slice: 1;
    z-index: -1;
    transition: all 0.7s ease;
    background: transparent;
} */

.row-right a:hover::before {
    border-image: linear-gradient(135deg, #e1bac5 0%, var(--main-color) 100%);
    background: transparent;
    color: white;
}

/* contact */

.contact{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

.contact-main h2{
    margin: 32px 0;
    font-size: var(--h2-font);   
}

.contact-main h2 span {
    background: -webkit-linear-gradient(135deg, #e1bac5 0%, var(--main-color) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.email{
    margin-bottom: 22px;
}

.email p{
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 5px;
    color: var(--ann-color);
}

.email h6{
    font-size: 22px;
    font-weight:600;
}

.num{
    margin-bottom: 40px;
}

.num p {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 5px;
    color: var(--ann-color);
}

.num h6 {
    font-size: 22px;
    font-weight: 600;
}

.contact-form{
    width: 100%;
    max-width: 600px;
    display: grid;
    gap: 1.2rem;
}

.contact-form input, .contact-form textarea{
    border: none;
    outline: none;
    padding: 17px;
    font-size: 0.9rem;
    background: var(--second-bg-color);
    color: var(--text-color);
    border-radius: 0.6rem;
}

form input::placeholder, form textarea::placeholder{
    color: var(--ann-color);
    font-size: 15px;
}

form .submit-btn{
    display: inline-block;
    padding: 18px 25px;
    background: linear-gradient(135deg, #e1bac5 0%, var(--main-color) 100%);
    color: var(--bg-color);
    font-size: 17px;
    font-weight: 500;
    border-radius: 17px;
    width: 30%;
    cursor: pointer;
    transition: all .7s ease;
}

form .submit-btn:hover{
    transform: scale(1.1) translate3d(8px, 0px, 0px);
}

/* footer */

.footer{
    padding: 20px 14%;
    background-color: transparent;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:2rem;
}

.copyright{
    font-size:15px;
    font-weight: 400;
    color: var(--ann-color);
}

.scroll-up{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    background: linear-gradient(135deg, #e1bac5 0%,
    var(--main-color) 100%);
    color:var(--bg-color);
    border-radius: 1.7rem;
    font-size: 22px;
}

@media(max-width: 1580px){
    header{
        padding: 15px 6%;
    }
    header.sticky{
        padding: 3px 6%;
    }
    section{
        padding: 100px 6% 80px;
    }
    .footer{
        padding: 15px 6%;
    }
}

@media(max-width: 1300px) {
    header {
        padding: 15px 3%;
    }

    header.sticky {
        padding: 3px 3%;
    }

    section {
        padding: 100px 3% 80px;
    }

    .footer {
        padding: 15px 3%;
    }
    :root{
        --h1-font: 3.5rem;
        --h2-font: 3rem;
        --p-font: 1rem;
    }
}

@media(max-width: 1200px){
    .about{
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    .about-img{
        text-align: center;
        width: 100%;
        height: 430px;
        max-width: 450px;
        border-radius: 20%;
        object-fit: cover;
        margin: 0 auto;
    }
    .serices{
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    .services-right{
        grid-template-columns: repeat(2, minmax(250px, 1fr));
        width: 100%;
    }
    .box{
       display: flex;
       flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .contact{
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    .contact-form{
        width: 100%;
        max-width: 100%;
    }
}

@media(max-width:1000px){
    /* .logo img{
        max-width: 50px;
    } */
     .menulist a{
        margin: 0 20px;
        font-size: 17px;
     }
     .menu-btn{
        padding: 14px 22px;
        font-size: 15px;
     }
     .btn1{
        padding: 14px 22px;
        font-size: 15px;
     }
     .btn2{
        padding: 14px 22px;
        font-size: 15px;
     }
}

@media(max-width:900px){
    :root{
        --h1-font: 3rem;
        --h2-font: 2.8rem;
    }
}

@media(max-width:800px) {
   #menu-icon{
    display: block;
   }
   .menulist{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 70px 50px;
    top:0;
    right:0;
    left: 0;
    display: flex;
    flex-direction: column;
    background: #000;
    transition: all .6s ease-in-out;
   }

   .menulist a{
    display: block;
    padding:0;
    margin: 0px 0px 25px 0px;
    font-size: 1.7rem;
   }
   .menulist.open{
     left:0;
   }
}

@media(max-width:590px){
    :root{
        --h1-font: 3.4rem;
        --h2-font: 2.5rem; 
    }

    .about-img img{
        text-align: center;
        width:100%;
        height: 500px;
        max-width: 380px;
        border-radius: 20%;
        object-fit:cover;
        margin: 0 auto;
    }

    form .submit-btn{
        padding: 13px 27px;
        width: 40%;
        font-size: 13px;
    }
}